---
import { PROJECTS } from '@assets/const/project';
import buho from '@assets/images/buho.webp';
import ProjectItem from './ProjectItem.astro';
---

<ol class="mt-12">
    {
        PROJECTS.map((project) => (
            <ProjectItem
                title={project.title}
                description={project.description}
                image={project.image}
                link={project.link}
            />
        ))
    }
</ol>

{PROJECTS.length < 2 && (
  <div class="flex flex-col items-center justify-center mt-16">
    <img src={buho.src} alt="Búho" class="w-64 h-64 object-contain mb-4" />
    <p class="text-gray-300 text-lg">¡Aún no hay suficientes proyectos!</p>
  </div>
)}