---
import TecCard from '@components/Tec-card.astro';
import tecs from '@assets/const/tecs.json';
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
  <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-6">
    {Array.from(new Set(tecs.filter(t => t.category !== 'aprendiendo').map(t => t.category))).map(cat => (
      <div class="bg-gray-800 rounded-xl p-4 flex flex-col gap-4 shadow-lg">
        <h2 class="text-xl font-bold text-white mb-2 capitalize">{cat}</h2>
        <div class="grid grid-cols-2 gap-4">
          {tecs.filter(tec => tec.category === cat).map(tec => (
            <TecCard title={tec.title} image={tec.image} />
          ))}
        </div>
      </div>
    ))}
  </div>
  <div class="bg-gray-800 rounded-xl p-4 flex flex-col gap-4 shadow-lg">
    <h2 class="text-xl font-bold text-white mb-2">Aprendiendo</h2>
    <div class="grid grid-cols-1 gap-4">
      {tecs.filter(tec => tec.category === 'aprendiendo').map(tec => (
        <TecCard title={tec.title} image={tec.image} />
      ))}
    </div>
  </div>
</div>